<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YouTube Parallel Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="container">

        <h1>YouTube Parallel Downloader</h1>

        <form action="/download" method="POST">

            <textarea
                name="links"
                placeholder="Paste one YouTube link per line"
                required
            ></textarea>

            <button type="submit">
                Download Videos
            </button>

        </form>

    </div>

</body>
</html>